name = "ppopgi-worker-cache"
main = "src/index.ts"
compatibility_date = "2025-01-01"

[observability]
[observability.logs]
enabled = true
invocation_logs = true

[vars]
SUBGRAPH_URL = "https://api.studio.thegraph.com/query/XXXX/ppopgi/version/latest"